{% load i18n %}
{% block css %}
    {% include 'includes/css.html' %}
{% endblock css %}
<aside class="main-sidebar">
    <section class="sidebar">
        {% block nav_links_ul %}
            <ul class="sidebar-menu">
                <li class="header">{% block nav_heading %}MENU DE NAVEGAÇÃO{% endblock %}</li>
                {% block nav_links %}
                    <li class="treeview">
                        <a href="{% url 'index' %}">
                            <i class="fa fa-money"></i><span>Home</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i><span>Livros</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <li class="treeview">
                            <a href="{% url 'book_list' %}">
                                <i class="fa fa-money"></i> <span>Listar</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i><span>Autores</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <li class="treeview">
                            <a href="{% url 'author_list' %}">
                                <i class="fa fa-money"></i> <span>Listar</span>
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                            </a>
                        </li>
                    </li>
                {% endblock nav_links %}
            </ul>
        {% endblock nav_links_ul %}
    </section>
</aside>
{% block js %}
    {% include 'includes/js.html' %}
{% endblock js %}
